.body{
    background-color: #E7F1FE;
}
.input{
    background-color: #ABCDED;
    border-bottom:5px solid black;
}
.btn-primary{
    background-color: #6FA8DC;
}
.badge{
    border-radius: .8rem .8rem .8rem .8rem;
}
.btn-update{
    width:50%;
margin-left: 50px;
}
.btn-clear{
    background-color:#ABCDED ;
    border-bottom:5px solid black;
    color: black;

}